[
    (
        name: Some(("shotgun_pickup")),
        transform: Some((
            translation: (5, 0.5, -4),
            scale: (0.5, 1, 0.5),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        rigid_body: Some((
            mass: 10,
            shape: AABB((0.5, 1, 0.5)),
            ty: Kinematic,
            max_linear_velocity: 0,
            max_angular_velocity: 0,
            linear_damping: 0,
        )),
        color: Some((
            r: 110,
            g: 87,
            b: 115,
        )),
        pickup: Some(Gun(Shotgun)),
    ),
    (
        name: Some(("shotgun_ammo_pickup")),
        transform: Some((
            translation: (5, 0.5, -8),
            scale: (0.5, 1, 0.5),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        rigid_body: Some((
            mass: 10,
            shape: AABB((0.5, 1, 0.5)),
            ty: Kinematic,
            max_linear_velocity: 0,
            max_angular_velocity: 0,
            linear_damping: 0,
        )),
        color: Some((
            r: 0,
            g: 0,
            b: 0,
        )),
        pickup: Some(Ammo(Shotgun)),
    ),


    (
        name: Some(("ground")),
        transform: Some((
            translation: (0, 0, 0),
            scale: (10, 1, 10),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "Cube",
            enabled: true,
        )),
        rigid_body: Some((
            mass: 100,
            shape: AABB((30, 1, 30)),
            ty: Static,
            max_linear_velocity: 0,
            max_angular_velocity: 0,
            linear_damping: 0,
        )),
    ),
    (
        name: Some(("funny ball")),
        transform: Some((
            translation: (1, 4, 0),
            scale: (1, 1, 1),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "Sphere",
            enabled: true,
        )),

    ),

    (
        name: Some(("particle_system")),
        particle: Some((
            position: (1, 1, 1),
            velocity: (0, 2, 0),
            particle_number: 100,
            color: (
                r: 234,
                g: 0,
                b: 0,
            ),
            life: None,
        )),
    ),
    (
        name: Some(("ambient_light")),
        ambient_light: Some((
            color: (
                r: 255,
                g: 255,
                b: 255,
            ),
            intensity: 0.2,
        )),
    ),

    (
        name: Some(("directional_light")),
        directional_light: Some((
            direction: (1, -1, 1),
            color: (
                r: 255,
                g: 255,
                b: 255,
            ),
            intensity: 1,
        )),
    ),
]
