[

    (
        transform: Some((
            translation: (15, 2, -3),
            scale: (2, 0.1, 5),
            rotation: (0, 0, 0.19866933, 0.9800666),
        )),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        rigid_body: Some((
            mass: 10,
            shape: AABB((2, 0.1, 5)),
            ty: Static,
            max_linear_velocity: 20.0,
            max_angular_velocity: 20.0,

        )),
        color: Some((
            r: 0,
            g: 80,
            b: 121,
        )),
        health: Some((
            current: 2,
            max: 2,
        )),
    ),

    (
        transform: Some((
            translation: (5, 2, -2),
            scale: (1, 1, 1),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "ramp",
            enabled: true,
        )),
        rigid_body: Some((
            mass: 10,
            shape: ConvexHull,
            ty: Static,
            max_linear_velocity: 20.0,
        )),
        color: Some((
            r: 0,
            g: 80,
            b: 121,
        )),
        health: Some((
            current: 2,
            max: 2,
        )),
    ),

    (
        transform: Some((
            translation: (5, 0.5, -4),
            scale: (0.5, 1, 0.5),
            rotation: (0, 0, 0, 1),
        )),
        rigid_body: Some((
            mass: 10,
            shape: AABB((0.5, 1, 0.5)),
            ty: Kinematic,
        )),
        pickup: Some(Gun(Shotgun)),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        color: Some((
            r: 110,
            g: 87,
            b: 115,
        )),
    ),
    (
        transform: Some((
            translation: (5, 0.5, -8),
            scale: (0.5, 1, 0.5),
            rotation: (0, 0, 0, 1),
        )),
        rigid_body: Some((
            mass: 10,
            shape: AABB((0.5, 1, 0.5)),
            ty: Kinematic,
        )),
        pickup: Some(Ammo(Shotgun)),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        color: Some((
            r: 0,
            g: 0,
            b: 0,
        )),
    ),
    (
    transform: Some((
        translation: (5, -5, 2),
        scale: (50, 5, 20),
        rotation: (0, 0, 0, 1),
    )),
    render: Some((
        mesh: "cube",
        enabled: true,
    )),
    rigid_body: Some((
        mass: 100,
        shape: AABB((50, 5, 20)),
        ty: Static,
    )),
    color: Some((
        r: 110,
        g: 87,
        b: 115,
    )),
    ),
    (
        transform: Some((
            translation: (0, 2, 0),
            scale: (1, 1, 1),
            rotation: (0, 0, 0, 1),
        )),
        render: Some((
            mesh: "axis",
            enabled: true,
        )),
        color: Some((
            r: 0,
            g: 255,
            b: 0,
        )),
    ),
    (
        transform: Some((
            translation: (0, 2, 0),
            scale: (1, 1, 1),
            rotation: (0, 0, 0.70710677, 0.70710677),
        )),
        render: Some((
            mesh: "axis",
            enabled: true,
        )),
        color: Some((
            r: 255,
            g: 0,
            b: 0,
        )),
    ),
    (
        transform: Some((
            translation: (0, 2, 0),
            scale: (1, 1, 1),
            rotation: (0, -0.70710677, 0, 0.70710677),
        )),
        render: Some((
            mesh: "axis",
            enabled: true,
        )),
        color: Some((
            r: 0,
            g: 0,
            b: 255,
        )),
    ),
    (
        transform: Some((
            translation: (0, 1, -10),
            scale: (15, 3, 1),
            rotation: (0, 0, 0, 1),
        )),
        rigid_body: Some((
            mass: 1,
            shape: AABB((15, 3, 1)),
            ty: Static,
        )),
        render: Some((
            mesh: "cube",
            enabled: true,
        )),
        color: Some((
            r: 234,
            g: 144,
            b: 133,
        )),
    ),
    (
        transform: Some((
            translation: (0, 1, 4),
            scale: (0.53, 1, 1),
            rotation: (0, 0, 0, 1),
        )),
        billboard: Some((
            texture: "soldier",
            sprite_nb: 0,
            enabled: true,
        )),
        animation: Some((
            animations: {
                "walk_backward": (
                    keyframes: [(0, 10), (1, 10), (2, 10), (3, 10)],
                    single: false,
                    current_index: 0,
                    elapsed_frame: 0
                ),
                "walk_forward": (
                    keyframes: [(4, 10), (5, 10), (6, 10), (7, 10)],
                    single: false,
                    current_index: 0,
                    elapsed_frame: 0
                )
            },
            current_animation: Some("walk_forward")
        ))
    ),
    (
        particle: Some((
            position: (1, 1, 1),
            velocity: (0, 2, 0),
            particle_number: 100,
            color: (
                r: 234,
                g: 0,
                b: 0,
            )
        )),
    ),
    (
       ambient_light: Some((
           color: (
               r: 255,
               g: 255,
               b: 255,
           ),
           intensity: 0.7
           )
       )
   ),
   (
        directional_light: Some((
        color: (
           r: 255,
           g: 255,
           b: 255,
       ),
       intensity: 0.7,
       direction: (5, -2, 5)

        ))
   )
]