[
    (
        screen_position: Some((
            x: 0.5,
            y: 0.5,
            w: 0.01,
            h: 0.01,
        )),
        sprite: Some((
            texture: "crosshair",
            sprite_nb: 0,
        ))
    ),

    (
        screen_position: Some((
            x: 0.75,
            y: 0.15,
            w: 0.2,
            h: 0.2,
        )),
        sprite: Some((
             texture: "shotgun",
             sprite_nb: 0,
        )),
        animation: Some((
            animations: {
                "shoot": (
                    keyframes: [(0, 2), (1, 0)],
                    single: true,
                    current_index: 0,
                    elapsed_frame: 0
                )
            },
            current_animation: None
        ))
     ),
]