(
    transform: Some((
        translation: (0, 15, -5),
        scale: (1, 1, 1),
        rotation: (0, 0, 0, 1),
    )),
    name: Some(("player")),
    player: Some((
        nb: 0,
        state: Respawn(1.0),
    )),
    rigid_body: Some((
        mass: 1,
        shape: AABB((0.5, 1.1, 0.5)),
        ty: Dynamic,
        max_linear_velocity: 20.0,
        max_angular_velocity: 0.0,
        linear_damping: 0.3,
    )),
    fps: Some((
        on_ground: false,
        jumping: true,
        sensitivity: 0.005,
        speed: 0.5,
        air_speed: 0.5,
    )),
    health: Some((
        max: 10,
        current: 10
    )),
    gun_inventory: Some((
        guns: {
            1: (
                gun_type: Pistol,
                ammo: 50,
                countdown: 0
                ),
            }
    )),
    children: [
        // Player has the main camera directly as a child
        (
            name: Some(("Camera")),
            camera: Some((
                active: true,
                pitch: 0,
                yaw: 0,
                front: (1, 0, 0),
                left: (0, 0, -1),
            )),
            // will be overwritten
            transform: Some((
                translation: (0, 15, -5),
                scale: (1, 1, 1),
                rotation: (0, 0, 0, 1),
            )),
            // same position as player.
            local_transform: Some((
                translation: (0, 0, 0),
                scale: (1, 1, 1),
                rotation: (0, 0, 0, 1),
            )),
        ),

        // the gun model
        (
            name: Some(("Gun")),
            // will be overwritten
            transform: Some((
                translation: (0, 15, -5),
                scale: (1, 1, 1),
                rotation: (0, 0, 0, 1),
            )),
            // same position as player.
            local_transform: Some((
                translation: (0.2, 0, 0),
                scale: (0.2, 0.2, 0.2),
                rotation: (0, 0, 0, 1),
            )),
            render: Some((
                mesh: "Cube.001",
                enabled: true
            )),
        )
    ]
)
