(
    height: 125.0,
    sprites: [
        (
            h: 125.0,
            w: 120.0,
            x: 0.0,
            y: 0.0
        ),
        (
            h: 125.0,
            w: 120.0,
            y: 0.0,
            x: 125.0
        )
    ],
    width: 240.0
)