(
    height: 105.0,
    sprites: [
        (
            h: 105.0,
            w: 128.0,
            x: 0.0,
            y: 0.0
        ),
        (
            h: 105.0,
            w: 128.0,
            y: 0.0,
            x: 128.0
        )
    ],
    width: 256.0
)