(
    height: 223.0,
    sprites: [
        (
            h: 223.0,
            w: 125.0,
            x: 0.0,
            y: 0.0
        ),
        (
            h: 223.0,
            w: 125.0,
            y: 0.0,
            x: 125.0
        ),
         (
             h: 223.0,
             w: 125.0,
             y: 0.0,
             x: 250.0
         ),
          (
              h: 223.0,
              w: 125.0,
              y: 0.0,
              x: 375.0
          )
    ],
    width: 500.0
)